@font-face
{
    font-family: "replayRounded";
    src: url("../fonts/BPREPLAY.OTF");
    
}

@font-face {

    font-family: "replayRounded-bold";
    src: url("../fonts/BPREPLAYBOLD.OTF");
    font-weight: bold;
}



html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#main {
    
    
}

#scrHeading {
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #EE524F;
    padding: 3px;
}

#ansText 
{

}

#scrText 
{

}

#totScrText {
    font-size: 20px;
    color: black;
    background-color: white;
    font-family: replayRounded-bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#signupPage {
}

#signupPage-content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#frontPage {
    
}

#frontPage-content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#accountSignUpPage {
    
}

#accountSignUpPage-content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#quizPage-content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#quizPageExam-content {
    
}

.ui-content
{
    padding: 5px !important;
}


#panelGrey {
    
    background: #36464e;
    min-width: 300px;
    height: auto;
    margin: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#main {
    
}

#quizPage {
    

    
}



#userName {
    background-color: white !important;
    font-size: 16px !important;
    color: black !important;
    background-image: url('../images/userName-img.png') !important;
    background-position: 0px 0px !important;
    background-repeat: no-repeat !important;
    padding: 0px 0px 0px 50px !important;
}

#passWord 
{
    background-color: white !important;
    font-size: 16px !important;
    color: black !important;
    background-image: url('../images/passWord-img.png') !important;
    background-position: 0px 0px !important;
    background-repeat: no-repeat !important;
    padding: 0px 0px 0px 50px !important;
}

#retype 
{
    background-color: white !important;
    font-size: 16px !important;
    color: black !important;
    background-image: url('../images/passWord-img.png') !important;
    background-position: 0px 0px !important;
    background-repeat: no-repeat !important;
    padding: 0px 0px 0px 50px !important;
}

#btnSignUp {
    background-color: #EE524F !important;
}

#btnPlay {
    background-color: #EE524F !important;
}

#btnLoad {
    background-color: #EE524F !important;
}

#btnMoodSurvey {
    background-color: #EE524F !important;
}

#btnExamGrade {
    background-color: #EE524F !important;
}

#btnSubmit {
    background-color: #EE524F !important;
}

#splashPage {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
   
}

#splashImg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#front-page {
    text-align: center;
    background-image: url(../images/bg-front.png);
    color: white;
    font-family: replayRounded;
}

#MoodSurveyPage {
    text-align: center;
    background-color: #BD1550;
    color: white;
    font-family: replayRounded;
    height: 100%;
}

#ExamGradePage {
    text-align: center;
    background-color: #BD1550;
    color: white;
    font-family: replayRounded;
    height: 100%;
}



.questHeading {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #EE524F;
    padding: 3px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    text-shadow: none;
}



input.ui-slider-input {
    display: none !important;
}

.ui-slider-track {
    margin: 0 15px 0 15px !important;
    
}

.ui-slider-handle 
{
    width: 45px !important;
    /*background-color:aqua !important;*/
    
}

#sliderLbl {
    display: inline-block;
    text-align: center;
}

    #sliderLbl:first-child {
        text-align: left;
    }

    #sliderLbl:last-child {
        text-align: right;
    }

