@font-face
{
    font-family: "replayRounded";
    src: url("../fonts/BPREPLAY.OTF");
    
}

@font-face {

    font-family: "replayRounded";
    src: url("../fonts/BPREPLAYBOLD.OTF");
    font-weight: bold;
}



body {
    
}

#front-page {
    text-align: center;
    background-color: #BD1550;
    color: white;
    /*font-family: replayRounded;*/
    height: 100%;
}

#MoodSurveyPage {
    text-align: center;
    background-color: #BD1550;
    color: white;
    /*font-family: replayRounded;*/
    height: 100%;
}

#ExamGradePage {
    text-align: center;
    background-color: #BD1550;
    color: white;
    /*font-family: replayRounded;*/
    height: 100%;
}


.questHeading {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #444444;
    padding: 3px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    text-shadow: none;
}

input.ui-slider-input {
    display: none !important;
}

.ui-slider-track {
    margin: 0 15px 0 15px !important;
    background-color: #BD1550 !important;
}

#sliderLbl {
    display: inline-block;
    text-align: center;
}

    #sliderLbl:first-child {
        text-align: left;
    }

    #sliderLbl:last-child {
        text-align: right;
    }